*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    scroll-behavior: smooth;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}




/* header  */

.logo img {
    width: 226px;
    height: 49px;
    gap: 0px;
    opacity: 0px;
    
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}


/* header  */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 15px;
}


.nav a{
    padding: 8px 32px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    transition: 0.2s;
}

.nav a:hover{
    border-radius: 40px;
    background-color: #4CE0D7;
    transform: scale(1.1);
}

.contact a {
    width: 143.81px;
    height: 35.95px;
    border-radius: 40px;
    background-color: #4CE0D7;
    transition: 0.2s;
    padding: 8px 32px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    transition: 0.2s;
}

.contact a:hover {
    background: #000000;
    color:#4CE0D7 ;
    transform: scale(1.1);
}

.nav img{
    margin-left: 67px;
    transition: 0.2s;
    cursor: pointer;
}

.nav img:hover{
    transform: scale(1.2);
}

.first-section{
    display: flex;
    flex-direction: column;
    gap: 23px;

    background: url(./photos/Mask\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 148px;
    border-radius: 20px;
    max-width: 1272px;
    width: 100%;
}


.first-section h4{
    font-size: 14px;
    font-weight: 700;
    color: white;
  
}

.first-section h1{
    font-size: 46px;
    font-weight: 400;
    color: white;
  
}

.first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.first-section p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 494px;
}

