*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F9F9;
    scroll-behavior: smooth;
}


.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 84px;
}




/* header  */

.logo img {
    width: 226px;
    height: 49px;
    gap: 0px;
    opacity: 0px;
    
}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 37px;
    padding-bottom: 47px;
}

.nav{
    display: flex;
    align-items: center;
    gap: 15px;
}


.nav a{
    padding: 8px 32px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    transition: 0.2s;
}

.nav a:hover{
    border-radius: 40px;
    background-color: #4CE0D7;
    transform: scale(1.1);
}

.contact a {
    width: 143.81px;
    height: 35.95px;
    border-radius: 40px;
    background-color: #4CE0D7;
    transition: 0.2s;
    padding: 8px 32px;
    font-size: 14px;
    color: black;
    font-weight: 700;
    transition: 0.2s;
}

.nav img{
    margin-left: 67px;
    transition: 0.2s;
    cursor: pointer;
}

.nav img:hover{
    transform: scale(1.2);
}

.first-section{
    display: flex;
    flex-direction: column;
    gap: 23px;

    background: url(./photos/Mask\ group.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 218px;
    padding-bottom: 148px;
    border-radius: 20px;
    max-width: 1272px;
    width: 100%;
}


.first-section h4{
    font-size: 14px;
    font-weight: 700;
    color: white;
  
}

.first-section h1{
    font-size: 46px;
    font-weight: 400;
    color: white;
  
}

.first-section span {
    background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.first-section p{
    font-size: 20px;
    font-weight: 400;
    color: white;
    max-width: 494px;
}

/* second section */

.second-section {
    margin-top: 73px;
    display: flex;
    flex-direction: column;

}

.second-section h1  {
    font-family: Poppins;
font-size: 32px;
font-weight: 700;
line-height: 48px;
text-align: left;

}

.cards {
    display: flex;
    gap: 9px;
    margin-top: 48px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 51px 30px 30px;
    background-color:#FFFFFF ;
    width:max-content;
    border-radius: 20px;
    box-shadow: 0px 6px 6px 0px #0000000D;
    transition: 0.2s;
}

.card img {
    width: 88px;
}

.card h1 {
    font-family: Poppins;
font-size: 20px;
font-weight: 700;
text-align: center;
}

.card button {
    width: 144px;
    height: 36px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    background: #4CE0D7;
color: #262626;
    border-radius:40px ;
    border: 0;
    cursor: pointer;
    transition: 0.2s;

}

.wordnbut {
    display: flex;
    flex-direction: column;
    gap:39px ;
}

.card:hover {
    background: linear-gradient(45deg,#8BA9F4 , #4CE0D7);
    transform: translateY(-20px);
    
}

@keyframes pulse {
    50% {transform: scale(1.35);}
}

.card:hover button {
    transform: scale(1.2);
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.card button:hover {
    background-color: #262626;
    color: #4CE0D7;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.second-section hr {
    margin-top: 87.5px;
    margin-bottom: 52.5px;
}

  
.third-section {
    max-width: 1204px;
    margin: 0 auto;
    box-shadow: 0px 6px 6px 0px #0000000d;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 97px;
    padding-bottom: 32px;
  }
  
  .third-but {
    padding: 23px 0 289px 47px;
    background: url(./photos/fashion.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;

}
  
  .third-but button {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px 82px;
    border-radius: 40px;
    background-color: #262626;
    border: none;
    transition: 0.2s;
    cursor: pointer;
    
  }
  .third-but button:hover{
    transform: scale(1.25); /* Scales up the element by 10% */
    color: #262626; /* Opposite text color on hover */
    background-color: #4CE0D7;
  }
  
  .third-first {
    display: flex;
    padding: 23px 75px 30px 64px;
    align-items: center;
    justify-content: space-between;
  }
  .third-first div {
    display: flex;
    gap: 133px;
  }
  
  .one {
    display: flex;
    gap: 21px;
    align-items: center;
  }
  
  .third-first h1 {
    font-size: 14px;
    font-weight: 700;
    color: #f25e5e;
    letter-spacing: 0.24em; 
  }
  .one p {
    font-size: 14px;
    font-weight: 400;
    color: #bcbcbc;
  }
  
  .one img {
    border-radius: 100%;
  }
  
  .third-second {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-left: 64px;
  }
  
  .third-second p {
    max-width: 800px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #262626;
  }
  
  .third-second h1 {
    font-size: 26px;
    font-weight: 700;
    color: #262626;
  }
  
  .third-three a {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 51px;
    font-size: 12px;
    font-weight: 700;
    color: #4ce0d7;
    width:max-content;
    letter-spacing: 0.24em; 
  }


/* trending section */
.trending-section{
    margin-bottom: 88px;
    max-width: 1204px;
    margin: 0 auto;
}

.trending-title h1{
    margin-bottom: 55px;
    font-size: 32px;
    font-weight: 700;
    color: #262626;
}

.trending-cards{
    display: flex;
    justify-content: space-between;
}
.trending-card {
    box-shadow: 0px 6px 6px 0px #0000000D;
    width: max-content;
    background-color: white;
    border-radius: 20px;
}

.trending-card-thirds {
max-width: max-content;
}

.trending-card-third {
    max-width: max-content;
    }

.trending-button button{
    width: 175.44px;
    height: 36.49px;
    color: white;
    background-color: #262626;
    border-radius: 40px;
    transition: 0.2s;
    border: none;
    font-family: Poppins;
font-size: 12px;
font-weight: 700;
line-height: 18px;
text-align: center;
cursor: pointer;
}

.trending-button button:hover{
    color: #262626;
    background-color: #4CE0D7;
    transform: scale(1.25);
  }

  .trending-button-1 button:hover{
    transform: scale(1.25);
    color: #262626;
    background-color: #4CE0D7;
  }

.trending-button{
    background: url(photos/lifelife.png);
    padding: 20px 369px 219px 34px;
    width: max-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}

.trending-button-1{
    background: url(photos/women.png);
    padding: 20px 369px 219px 34px;
    width: max-content;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition: 0.2s;
  
}
.trending-button-1 button{
    width: 175.44px;
    height: 36.49px;
    color: white;
    background-color: #262626;
    border-radius: 40px;
    transition: 0.2s;
    border: none;
    font-family: Poppins;
font-size: 12px;
font-weight: 700;
line-height: 18px;
text-align: center;
cursor: pointer;
}


.trending-card-first {
display: flex;
align-items: center;
gap: 28px;
margin-left: 26px;
margin-top: 23px;
color: 
#BCBCBC;
font-size: 14px;
font-weight: 400;

}
.trending-card-first img{
    border-radius: 100%;
}
.trending-card-first div{
    display: flex;
    gap: 160px;

}

.trending-card-second{
    max-width: 430px;
    margin-left: 26px;
    margin-top: 29px;
}

.trending-card-second h1{
font-size: 26px;
font-size: 700;
color: #262626;

}

.trendind-card-second p{
    font-size: 16px;
    font-size: 400;
    color: #262626;
}

.trending-card-third a{
    display: flex;
    align-items: center;
    row-gap: 11px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: 
    #4CE0D7;
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 36px;
}

.trending-card-thirds a{
    display: flex;
    align-items: center;
    row-gap: 11px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.24em;
    text-align: left;
    color: 
    #4CE0D7;
    margin-top: 20px;
    margin-left: 26px;
    margin-bottom: 36px;
}


/* მეხუთე სექცია */

.cards-fifth {
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 49px;
    
}

.card-fifth{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 6px 6px 0px #0000000d;
    border-radius: 20px;
    max-width: 1204px;
    width: 100%;
    margin: 0 auto;
}
.card-fifth-button{
    padding: 25px 338px 304px 34px;
    background-image: url(./photos/Mask\ group\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 45px;
    border-radius: 20px;
}
.card-fifth-button button{
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px ;
    background-color: #262626;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    

}
.card-fifth-button button:hover{
    background-color: #4CE0D7;
    color:  #262626;
    transform: scale(1.25);
    
}


.card-fifth-button-1 {
    padding: 25px 338px 304px 34px;
    background-image: url(./photos/mask.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 45px;
    border-radius: 20px;
}

.card-fifth-button-1 button{
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px ;
    background-color: #262626;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    

}

.card-fifth-button-1 button:hover{
    background-color: #4CE0D7;
    color:  #262626;
    transform: scale(1.25);
    
}

.card-fifth-button-2 {
    padding: 25px 338px 304px 34px;
    background-image: url(./photos/masks.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 45px;
    border-radius: 20px;
}

.card-fifth-button-2 button{
    width: 175.44px;
    height: 36.49px;
    border-radius: 40px ;
    background-color: #262626;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 700;
    transition: 0.2s;
    cursor: pointer;
    

}

.card-fifth-button-2 button:hover{
    background-color: #4CE0D7;
    color:  #262626;
    transform: scale(1.25);
    
}

.mallory{
    display: flex;
    gap: 17px;
    align-items: center;
    margin-bottom: 36px;
}
.mallory div{
    display: flex;
    gap: 228px;
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
color: #BCBCBC;


}
.profil-fifth{
    padding-top: 26px;
}
.text-fifth{
    display: flex;
    flex-direction: column;
    gap: 23px;
    max-width: 429px;
}

.text-fifth h1{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
}

.text-fifth p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;

}


.fifth-read{
  margin-top: 19px;
}

.fifth-read a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    color:#4CE0D7 ;
    letter-spacing: 0.24em; 
}

.fifth-read  {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    color:#4CE0D7 ;
    letter-spacing: 0.24em; 
}

.hover img {
    position: relative;
    z-index: 4;
}

.white {
    position: absolute;
    left: 710px;
    z-index: 3;
    width: 90px;
    height: 13px;
}

.fifth-read span {
    position: absolute;
    left: 740px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.8 ease-in-out; 
}

.hover:hover span {
    animation: slide 0.3s ease-in-out forwards;
    opacity: 1; 
}

.hover:hover img {
    transform: scale(1.2);
    background-color: #262626;
    border-radius: 100%;
}

@keyframes slide {
    to {
        transform: translateX(80%); 
    }
    from {
        transform: translateX(0);
    }
}


.hove img {
    position: relative;
    z-index: 4;
}

.whit {
    position: absolute;
    left: 810px;
    top: 2760px;
    z-index: 3;
    width: 90px;
    height: 13px;
}

.trending-card-third span {
    position: absolute;
    left: 805px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.8 ease-in-out; 
}

.hove:hover span {
    animation: slide 0.3s ease-in-out forwards;
    opacity: 1; 
}

.hove:hover img {
    transform: scale(1.2);
    background-color: #262626;
    border-radius: 100%;
}

.hoves img {
    position: relative;
    z-index: 4;
}

.whits {
    position: absolute;
    left: 160px;
    top: 2760px;
    z-index: 3;
    width: 90px;
    height: 13px;
}

.trending-card-thirds span {
    position: absolute;
    left: 180px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.8 ease-in-out; 
}

.hoves:hover span {
    animation: slide 0.3s ease-in-out forwards;
    opacity: 1; 
}

.hoves:hover img {
    transform: scale(1.2);
    background-color: #262626;
    border-radius: 100%;
}






.hoveg img {
    position: relative;
    z-index: 4;
}

.whitg {
    position: absolute;
    left: 170px;
    top: 1950px;
    z-index: 3;
    width: 90px;
    height: 13px;
}

.third-three span {
    position: absolute;
    left: 200px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.8 ease-in-out; 
}

.hoveg:hover span {
    animation: slide 0.3s ease-in-out forwards;
    opacity: 1; 
}

.hoveg:hover img {
    transform: scale(1.2);
    background-color: #262626;
    border-radius: 100%;
}






/* footer */

footer {
    margin-top :84px;
    background-color: #ffffff;
    border-radius:40px 40px 0px 0px ;
}

.images img {
    height:49px ;
}

.images {
    padding-top: 87px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.hang {
    display: flex;
    justify-content: space-between;
    gap: 56px;
    align-items: center;
}

.hang div {
    display: flex;
    flex-direction: row;
    gap: 21px;
  
}

.hang img {
    height:31px ;

}

.hang h1 {
    font-family: Poppins;
font-size: 26px;
font-weight: 700;

}

.hang a {
    transition: 0.2s;
}

.hang a:hover {
    transform: scale(1.3);
}

.footer hr {
    max-width: 1267px;
    margin: 0 auto;
    margin-top: 84px;
    margin-bottom: 34px;
}

.copy {
    max-width:1267px;
    margin: 0 auto;
    padding-bottom: 38px;
}

.copy p {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    
}
